.navbar  {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px;
  z-index: 5;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__black {
  background-color: #111;
}

.navbar__logo {
  position: fixed;
  top: 23px;
  left: 20px;
  max-width: 110px;
  object-fit: contain;
  cursor: pointer;
}

.navbar__avatar {
  position: fixed;
  top: 12px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar  {
    padding: 30px;
  }

  .navbar__logo {
    max-width: 85px;
  }

  .navbar__avatar {
    height: 35px;
    width: 35px;
  }

}