.loginScreen {
  position: relative;
  height: 100%;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg') center no-repeat;
  background-size: cover;
}

.loginScreen__body {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
  color: white;
  padding: 20px;
}

.loginScreen__body > h1 {
  margin: 0 auto;
  max-width: 25ch;
  font-size: 4rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 1.85rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.loginScreen__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.loginScreen__logo {
  position: fixed;
  top: 15px;
  left: 20px;
  max-width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: #e50914;
  cursor: pointer;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 60px;
  width: 30%;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  max-width: 600px;
}

.loginScreen__getStarted {
  border: none;
  padding: 19px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  background-color: #e50914;
  cursor: pointer;
}

.loginScreen__guestLogin {
  display: block;
  margin: 20px auto;
  border: none;
  padding: 19px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  background-color: #e50914;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .loginScreen__body {
    top: 15%;
    padding: 15px;
  }

  .loginScreen__body > h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    max-width: 30ch;
  }

  .loginScreen__body > h2 {
    font-size: 1.25rem;
  }

  .loginScreen__body > h3 {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .loginScreen__input > form > input {
    padding: 10px;
    height: 45px;
    width: 90%;
    font-size: 18px;
  }
  
  .loginScreen__getStarted {
    display: block;
    width: 40%; 
    max-width: 40%;
    margin: 20px auto;
    padding: 13px 20px;
  }
  
  .loginScreen__guestLogin {
    padding: 13px 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1500px) {
  .loginScreen__body {
    top: 20%;
  }
}